@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  --font-color: rgb(50, 50, 41);
  --bg-body-color: rgb(245, 239, 214);

  --bg-nav-color: rgb(98, 98, 90);

  --menu-border-color: #f99704;
  --header-font-color: white;

  --menu-bg-color: rgb(246, 235, 215);
  --menu-font-color: #f97204;

  --menu-bg-color-active: rgb(241, 223, 190);
  --menu-font-color-active: rgb(255, 4, 4);
  --menu-font-color-visited: rgb(2, 157, 5);

  --h1-header-color: rgb(153, 0, 0);
  --h-color-questions: firebrick;
  --code-background-color: white;
  --code-border-color: rgb(98, 98, 90);

  --hr-color: white;
  --table-header-bg-color: #f99304;
  --table-header-font-color: white;
  --table-bg-color-active: rgb(255, 253, 244);
  --code-font-color: rgb(95, 94, 94);
}
body {
  background-color: var(--bg-body-color);
  color: var(--font-color);
}

header {
  background-color: var(--bg-nav-color);
  height: 8rem;
  border-left: 2px solid var(--hr-color);
  border-right: 2px solid var(--hr-color);
  border-bottom: 1rem solid var(--menu-border-color);
}
@media screen and (max-width: 940px) {
  header {
    height: 10.5rem;
  }
}

@media screen and (max-width: 550px) {
  header {
    height: 12.5rem;
  }
}

@media screen and (max-width: 300px) {
  header {
    height: 16.5rem;
  }
}

header h1 {
  padding-top: 2rem;
  padding-left: 2rem;
  color: var(--header-font-color);
  text-decoration: none;
  text-align: start;
}
header a,
header a:visited {
  color: var(--header-font-color);
  text-decoration: none;
}
header a:hover {
  color: var(--header-font-color);
  text-decoration: underline;
}
a {
  text-decoration: none;
}
.links a {
  text-decoration: underline;
  cursor: pointer;
}
#navbar {
  display: block;
}

nav.sites-header-nav-container {
  height: max-content;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
nav {
  font-family: monospace;
  margin-right: 4rem;
}
nav * {
  font-size: small;
}
nav .sites-header-nav a:hover {
  color: var(--menu-font-color-active);
  text-decoration: underline;
}
nav .sites-header-nav a:visited {
  color: var(--menu-font-color-visited);
  text-decoration: none;
}
nav .sites-header-nav ul {
  background: var(--menu-bg-color);
  list-style: none;
  margin: 0;
  padding: 0;
}
nav .sites-header-nav > li {
  margin: 0.2rem;
  border-radius: 0.2rem;
}
nav li {
  color: var(--menu-font-color);
  background: var(--menu-bg-color);
  display: block;
  float: left;
  padding: 0.5rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

nav li a {
  color: var(--menu-font-color);
  font-weight: 500;
}

nav li:hover,
nav li:focus-within {
  background: var(--menu-bg-color-active);
  cursor: pointer;
}

nav li:focus-within a {
  outline: none;
}

nav ul li ul {
  color: var(--menu-font-color);
  background: var(--menu-bg-color);
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

nav ul li:hover > ul,
nav ul li:focus-within > ul,
nav ul li ul:hover,
nav ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
  text-wrap: nowrap;
  color: var(--menu-font-color-active);
  z-index: 2;
  margin-top: 0.5rem;
  cursor: pointer;
}

nav ul li ul li {
  padding: 0.7rem;
  clear: both;
  width: 100%;
}

main {
  padding: 20px;
  border: 2px solid var(--hr-color);
}
section {
  line-height: 150%;
  text-align: start;
}
h3 {
  font-weight: 600;
  font-size: larger;
}
h2 {
  font-weight: 600;
  font-size: large;
}
h2 i {
  font-style: italic;
  font-weight: 600;
  font-size: large;
}
h1 {
  font-weight: 600;
  font-size: xx-large;
  text-align: center;
  color: var(--h1-header-color);
  text-decoration: underline;
  line-height: 2.5rem;
}

/* section * {
  border: 1px dashed blue;
} */
.questions h1,
.questions h2,
.questions h3 {
  color: var(--h-color-questions);
}
section p {
  margin-top: 1rem;
}
section ul {
  list-style-type: none;
  padding-inline-start: 1.5rem;
}
section ol {
  padding-inline-start: 1.5rem;
}
section ol.question {
  counter-reset: foo;
  padding-inline-start: 0rem;
}
section ol.question li {
  list-style-type: none;
  margin-top: 1rem;
}
section ol.question li:before {
  content: " שאלה ";
  counter-increment: foo;
  content: "שאלה " counter(foo) ":  ";
  padding-right: -2rem;
}
section ul.list li:before {
  content: " - ";
}
section img {
  direction: ltr;
}
section .max_width_600 {
  max-width: 600px;
  width: 100%;
}

section code {
  background-color: var(--code-background-color);
  padding: 20px;
  margin: 20px;
  display: block;
  text-align: left;
  direction: ltr;
  border: 1px solid var(--code-border-color);
  color: var(--code-font-color);
}
/* section code * {
  font-weight: bolder;
} */
.eng {
  direction: ltr;
  /* unicode-bidi: embed; */
}
.heb {
  direction: rtl;
}
section.heb > img {
  direction: ltr;
}
section .filename {
  font-weight: bold;
  color: var(--h1-header-color);
}
.challenge {
  border-right: 2px solid var(--code-border-color);
  padding-right: 2rem;
}
main hr {
  margin-top: 1rem;
  border: 1px var(--hr-color) solid;
}

main table {
  width: 100%;
}
main table caption {
  text-align: left;
  padding: 2rem 0rem 0.5rem 0rem;
}

main table caption p {
  margin-top: 1rem;
}
main table th {
  text-wrap: nowrap;
  padding: 0.3rem;
  background-color: var(--table-header-bg-color);
  color: var(--table-header-font-color);
  text-align: start;
}
main table td {
  padding: 0.3rem;

  text-align: start;
}
main table tr:hover {
  background-color: var(--table-bg-color-active);
}
